@media screen and (device-width: 320px) and (orientation: portrait) /*Ten media query obsługuje ekran iPhone 5 w orientacji pionowej.*/
{
	.akapity
	{
	height: auto;
	background-color: aqua;
	}
	
	.naglowki
	{
	height: auto;
	background-color: lightblue;
	}
}

@media screen and (device-width: 568px) and (orientation: landscape) /*Ten media query obsługuje ekran iPhone 5 w orientacji poziomej.*/
{
	.akapity
	{
	height: auto;
	background-color: green;
	}
	
	.naglowki
	{
	height: auto;
	background-color: red;
	}
}

@media screen and (device-width: 375px) and (orientation: portrait) /*Ten media query obsługuje ekran iPhone 6 w orientacji pionowej.*/
{
	.akapity
	{
	width: auto;
	height: auto;
	border: 10px solid yellow;
	text-align: center;
	background-color: aqua;
	}
	
	.naglowki
	{
	width: auto;
	height: auto;
	border: 10px solid blue;
	text-align: center;
	background-color: lightblue;
	}
}

@media screen and (device-width: 667px) and (orientation: landscape) /*Ten media query obsługuje ekran iPhone 6 w orientacji poziomej.*/
{
	.akapity
	{
	height: auto;
	width: auto;
	margin: auto;
	text-align: center;
	background-color: aqua;
	border: 4px solid red;
	}
	
	.naglowki
	{
	height: auto;
	width: auto;
	margin: auto;
	text-align: center;
	background-color: lightblue;
	border: 4px solid green;
	}
}

@media screen and (device-width: 640px) and (orientation: landscape) /* Ten media query obsługuje Motorole Moto G 1 w orientacji poziomej.*/
{
	.akapity
	{
	background-color: black;
	color: white;
	border: 3px solid white;
	text-align: right;
	}
	
	.naglowki
	{
	background-color: black;
	color: white;
	border: 3px solid white;
	text-align: left;
	}
}

@media screen and (device-width: 360px) and (orientation: portrait) /* Ten media query obsługuje Motorole Moto G 1 w orientacji pionowej.*/
{
	.akapity
	{
	background-color: gray;
	color: white;
	text-align: center;
	}
	
	.naglowki
	{
	background-color: gray;
	color: white;
	text-align: center;
	}
}
