@media screen and (max-device-width: 640px) and (orientation: portrait) /* Ten media quary odtwarza się przy max szerokości 721px */
{
	.akapity
	{
	background-color: aqua;
	}
	
	.naglowki
	{
	background-color: lightblue;
	}
}

@media screen and (max-device-width: 640px) and (orientation: landscape)
{
	.akapity
	{
		background-color: green;
	}
}
