@media screen and (max-width: 360px) /* Ten media quary odtwarza się przy max szerokości 721px */
{
	.akapity
	{
	background-color: aqua;
	}
	
	.naglowki
	{
	background-color: lightblue;
	}
}

@media screen and (max-width: 640px)
{
	.akapity
	{
		background-color: green;
	}
	.naglowki
	{
		background-color: red;
	}
}
