@media screen and (min-width: 360px) /* Ten media quary odtwarza się przy max szerokości 721px */
{
	.akapity
	{
	background-color: aqua;
	}
	
	.naglowki
	{
	background-color: lightblue;
	}
}

@media screen and (max-device-width: 720px) /* Ten media quary odtwarza się przy max szerokości 1025px */
{
	.akapity
	{
		background-color: green;
		color: blue;
	}
	
	.naglowki
	{
		background-color: red;
		color: white;
	}
}
