@media screen and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) /*Ten media query obsługuje ekran iPhone 5 w orientacji pionowej.*/
{
	.akapity
	{
	margin: auto;
	width: 60%;
	background-color: aqua;
	}
	
	.naglowki
	{
	margin: auto;
	width: 60%;
	background-color: lightblue;
	}
}

@media screen and (device-width: 568px) and (device-height: 320px) and (orientation: landscape) /*Ten media query obsługuje ekran iPhone 5 w orientacji poziomej.*/
{
	.akapity
	{
	margin: auto;
	width: 60%;
	background-color: green;
	}
	
	.naglowki
	{
	margin: auto;
	width: 60%;
	background-color: red;
	}
}
